*~
bin
debug
release
obj
out
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
*.ncb
~*
_UpgradeReport_Files
_UpgradeReport_Files/UpgradeReport.css
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
*.vspx
*.psess
UpgradeLog2.XML
UpgradeLog2.htm
*.pfx
MSSQLCompressedBackupExtendedStoredProcedures/MSSQLCompressedBackupExtendedStoredProcedures/msbpextendedstoredprocedures.pfx
*.dbmdl
